<h1>Pages</h1>
<%= link_to 'Create Post', new_page_path %>
<% @pages.each do |page| %>
  <h2><%= page.title %></h2>
  <h4><%= page.author %></h4>
  <%= link_to 'Show Page', page_path(page.id) %>
<% end %>
